/target/
.idea/
.vscode/
.settings
.project
.classpath
.log
.lingma/
*.iml
.DS_Store
提示词记录.txt

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts
/logs/app.log
