<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sl.mapper.KnowledgeBaseFileMapper" >
  <resultMap id="BaseResultMap" type="com.sl.entity.KnowledgeBaseFile" >
    <id column="ID_BASE" property="idBase" jdbcType="VARCHAR" />
    <result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
    <result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
    <result column="FILE_SIZE" property="fileSize" jdbcType="VARCHAR" />
    <result column="DT_UPLOAD" property="dtUpload" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID_BASE, FILE_PATH, FILE_NAME, FILE_SIZE, DT_UPLOAD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sl.entity.KnowledgeBaseFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from knowledge_base_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from knowledge_base_file
    where ID_BASE = #{idBase,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from knowledge_base_file
    where ID_BASE = #{idBase,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sl.entity.KnowledgeBaseFileExample" >
    delete from knowledge_base_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sl.entity.KnowledgeBaseFile" >
    insert into knowledge_base_file (ID_BASE, FILE_PATH, FILE_NAME, 
      FILE_SIZE, DT_UPLOAD)
    values (#{idBase,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR}, 
      #{fileSize,jdbcType=VARCHAR}, #{dtUpload,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sl.entity.KnowledgeBaseFile" >
    insert into knowledge_base_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="idBase != null" >
        ID_BASE,
      </if>
      <if test="filePath != null" >
        FILE_PATH,
      </if>
      <if test="fileName != null" >
        FILE_NAME,
      </if>
      <if test="fileSize != null" >
        FILE_SIZE,
      </if>
      <if test="dtUpload != null" >
        DT_UPLOAD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="idBase != null" >
        #{idBase,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="dtUpload != null" >
        #{dtUpload,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sl.entity.KnowledgeBaseFile" >
    update knowledge_base_file
    <set >
      <if test="filePath != null" >
        FILE_PATH = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null" >
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileSize != null" >
        FILE_SIZE = #{fileSize,jdbcType=VARCHAR},
      </if>
      <if test="dtUpload != null" >
        DT_UPLOAD = #{dtUpload,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID_BASE = #{idBase,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sl.entity.KnowledgeBaseFile" >
    update knowledge_base_file
    set FILE_PATH = #{filePath,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_SIZE = #{fileSize,jdbcType=VARCHAR},
      DT_UPLOAD = #{dtUpload,jdbcType=TIMESTAMP}
    where ID_BASE = #{idBase,jdbcType=VARCHAR}
  </update>
</mapper>